fastapi
uvicorn[standard]
cloudinary
pymongo[srv]
python-dotenv
python-telegram-bot
pydantic-settings
pillow
numpy
requests
watchdog
pyftpdlib
python-multipart
httpx
certifi
# dlib must be compiled from source on Linux - cmake is required in the Dockerfile
dlib
face_recognition
